{% extends 'base.html.twig' %}

{% block title %}Edit Client{% endblock %}

{% block body %}
    <h1>Edit Client</h1>

    {{ include('clientcontrol/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_clientcontrol_index') }}">back to list</a>

    {{ include('clientcontrol/_delete_form.html.twig') }}
{% endblock %}
